---
layout: default
comments: true
---

<!-- Post Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    <span class="meta">{% if page.author %}{{ page.author }}{% else %}Bennet Schulz{% endif %}, @bennetelli</span>
                    <span class="meta">{{ page.date | date: "%B %-d, %Y" }} •
                        {% endif %}
                            {% assign words = content | number_of_words %}
                        {% if words < 360 %}
                            1 min
                        {% else %}
                            {{ words | divided_by: 180 }} min
                        {% endif %} read
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

				{{ content }}

                <br>

                <!-- AddToAny BEGIN -->
                <b>Be Social, Share!</b>
                <div class="a2a_kit a2a_kit_size_32 a2a_default_style" align="center">
                    <a class="a2a_button_twitter"></a>
                    <a class="a2a_button_facebook"></a>
                    <a class="a2a_button_google_plus"></a>
                    <a class="a2a_button_linkedin"></a>
                    <a class="a2a_button_xing"></a>
                    <a class="a2a_button_dzone"></a>
                    <a class="a2a_button_reddit"></a>
                    <a class="a2a_button_copy_link"></a>
                </div>
                <script async src="https://static.addtoany.com/menu/page.js"></script>
                <!-- AddToAny END -->

                <hr>

                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
                    </li>
                    {% endif %}
                </ul>

                {% include disqus-post.html %}
            </div>
        </div>
    </div>
</article>

<hr>
